// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
 display:flex;
 flex-direction:column;
 align-items: center;
 justify-content:center;
}
h1 {
  font-size: 42px;
  text-decoration: underline;
}
.letter {
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 42px;
  background-color: #3398DC;
  margin: 2px;
  height: 60px;
  width: 60px;
   color: white;
}
.letters{
   display: flex;
   box-shadow: 5px;
}
.input {
  font-size: 24px;
  margin: 10px;
  }

